:root {
  color-scheme: light dark;
  --dark: #0b0d14;
  --light: #f5f5f5;

  --primary: #4395ed;
  --primary-dark: #401c4d;
}

body {
  background-color: light-dark(var(--light), var(--dark));
  color: light-dark(var(--dark), var(--light));
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}

main {
  display: grid;
  place-items: center;
  gap: 1rem;
  min-height: 90vh;
  align-content: center;
  margin: 0 auto;
  max-width: 90svw;
}

section {
  width: 100%;
}

@media (max-width: 768px) {
  main {
    margin-inline-start: 2rem;
    margin: 2rem auto;
    place-items: start;
    align-content: start;
  }
}

@media (min-width: 768px) {
  body:has(menu) {
    main {
      margin-inline-start: 250px;
      place-items: start;
      align-content: start;

      section {
        width: 96%;
        margin: 0 auto;
      }
    }
  }
}

/* INPUTS */
input[type='email'],
input[type='text'],
select,
textarea {
  padding: 0.5rem;
  border: 1px solid light-dark(var(--dark), var(--light));
  border-radius: 0.25rem;
  font-size: 1rem;
}

input.input-error {
  border-color: red;
}

/* BUTTONS */
button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.3rem;
  cursor: pointer;
  border: 1px solid light-dark(var(--dark), var(--light));
  color: light-dark(var(--dark), var(--light));
  background-color: light-dark(var(--light), var(--dark));
  display: flex;
  align-items: center;
  gap: 0.3rem;
  position: relative;
}
