---
import Layout from '../layouts/Layout.astro'
import Router from '../components/Router.svelte'
import RoleIndicator from '../components/RoleIndicator.svelte'
---

<Layout title="Welcome to LMS">
	<section class="ml-20">
		<RoleIndicator client:load/>
		<Router client:load/>
	</section>
</Layout>
