---
import Layout from '../layouts/Layout.astro'
import Router from '../components/Router.svelte'
import RoleIndicator from '../components/RoleIndicator.svelte'
---

<Layout title="LMS">
  <section class="sm:ml-20">
    <RoleIndicator client:only="svelte" />
    <Router client:only="svelte" />
  </section>
</Layout>
