@import "tailwindcss";

@plugin "daisyui";

:root {
    --dark: #0b0d14;
    --light: #f5f5f5;
    --primary: #4395ed;
    --secondary: #3846a6;
    --secondary-dark: rgb(240, 240, 240);
    --primary-dark: #401c4d;
    --bg-color: light-dark(var(--light), var(--dark));
    --text-color: light-dark(var(--dark), var(--light));
    --bg-secondary: light-dark(var(--secondary-dark), var(--secondary));
    --bg-secondary-text: light-dark(var(--secondary), var(--secondary-dark));

    color-scheme: light dark;
}

@theme{
    --primary: var(--primary);
    --primary-dark: var(--primary-dark);
    --dark: var(--dark);
    --light: var(--light);
    --secondary: var(--secondary);
    --secondary-dark: var(--secondary-dark);
}

body {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}


