---
interface Props {
  title: string
}

import Menu from '../components/Menu.svelte'
import AuthGate from '../components/AuthGate.svelte'
import '../app.css'
const {title} = Astro.props
---

<!doctype html>
<html lang="no">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />

  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body>
<AuthGate client:only="svelte">
  <Menu client:only="svelte" />
  <main>
    <slot />
  </main>
</AuthGate>
</body>
</html>
